<div class="container">
  <div class="span8 text-left">

    <h1>My Workspace</h1>

      <!-- <div class='new-item'; style='margin-top: 15px;'>
        <%= render partial: 'items/form', locals: { item: @skill } %>
      </div>

    <table class="table table-hover">
      <%= render @skills %>
    </table> -->

  </div>
</div>
