@import "bootstrap-sprockets";
@import "bootstrap";

 .user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
}

body {
  background-color: #b8e5ff;
}

.vote-arrows {
  width: 40px;
  text-align: center;
}


.favorite {
  margin-top: 20px;
}

.voted {
  opacity: 0.5;
}
